.blog {
  background-color: #F5F8FF;

  .carousel-list-background {
    padding-top: 100px;
    padding-bottom: 215px;
    overflow: hidden;

    .carousel-list-background-title {
      font-size: 10px;
      color: #3D4F9F;
      line-height: 12px;
      letter-spacing: 0.1em;
      text-align: center;
      margin-bottom: 20px;
    }

    .carousel-list-background-item {
      font-size: 24px;
      line-height: 30px;
      color: #3D4F9F;
      text-align: center;
      margin-bottom: 92px;
    }

    .carousel-list-wrapper {
      display: flex;
      white-space: nowrap;
      transition: 1s all;
      font-size: 0;
      position: relative;;
      right: 0;
      box-sizing: border-box;

      .carousel-list {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0 15px 50px #EFF4FF;
        padding: 30px 20px;
        min-height: 394px;
        min-width: calc(100% - 20px);
        position: relative;
        margin-right: 10px;
        margin-left: 10px;
        object-fit: contain;
        overflow: hidden;

        .carousel-list-img {

          img {
            height: 267px;
            width: 407px;
          }
        }

        .carousel-list-content {
          margin-left: 40px;

          .carousel-list-content-item {
            font-size: 36px;
            font-weight: 400;
            line-height: 45px;
            color: #3D4F9F;
            margin-bottom: 32px;
          }

          .carousel-list-content-desc {
            font-size: 14px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.03em;
            color: #8D96BD;
            margin-bottom: 31px;
          }
        }

        .center-button {

          button.btn.btn-started {
            padding: 8px;
          }

          button.btn.btn-light {
            padding: 8px;
          }
        }
      }
    }

    .actions {
      width: 100%;
      display: flex;
      position: absolute;
      justify-content: space-between;
      align-items: center;
      top: 50%;
      left: 5%;
      right: 10%;
      z-index: 2;

      button.btn.left {
        padding: 5px 15px 0 5px;

        img {
          width: 27px;
          height: 19px;
        }
      }

      button.btn.right {
        padding: 5px 5px 0 15px;

        img {
          width: 27px;
          height: 19px;
        }
      }
    }

    .little-squares {
      position: absolute;
      text-align: center;
      bottom: 11%;
      left: calc(50% - 35px);
      display: flex;
      justify-content: center;

      .little-square {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        cursor: pointer;
        background-color: #D1D6E3;
        border-radius: 50%;

        &.active {
          background: #5283FF;
          color: white;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .carousel-list-background .actions {
      left: 0;
      display: flex;
      position: absolute;
      justify-content: space-between;
      top: 50%;
    }
    .carousel-list-background .actions button.btn.left {
      margin: 0 0 0 20px;
    }
    .carousel-list-background .actions button.btn.right {
      margin: 0 20px 0 0;
    }
  }
  @include media-breakpoint-down(lg) {
    .carousel-list-background .actions {
      width: 90%;
      top: 52%;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list {
      padding: 60px 20px;
      min-width: calc(100% - 10px);
      min-height: calc(100% - 40px);
      margin: 10px 5px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-img img {
      height: 167px;
      width: 307px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 20px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-content .carousel-list-content-item {
      font-size: 20px;
      margin: 0;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-content .carousel-list-content-desc {
      font-size: 10px;
      line-height: 16px;
    }
  }
  @include media-breakpoint-down(md) {
    .carousel-list-background .actions button.btn.left img {
      width: 15px;
      height: 10px;
    }
    .carousel-list-background .actions button.btn.right img {
      width: 15px;
      height: 10px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-content {
      margin: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    .carousel-list-background .carousel-list-background-item {
      margin-bottom: 30px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list {
      padding: 30px 0;
      min-height: 500px;
      margin: 10px 10px;
      min-width: calc(100% - 20px);
      width: 100%;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .center-button {
      display: flex;
      flex-direction: column;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .center-button button.btn.btn-started {
      margin-bottom: 10px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-img img {
      height: 167px;
      width: 250px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-content .carousel-list-content-item {
      font-size: 15px;
      margin: 0;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-content .carousel-list-content-desc {
      font-size: 8px;
      line-height: 16px;
      display: flex;
      flex-wrap: wrap;
    }
    .carousel-list-background .little-squares {
      bottom: 7%;
    }
  }
}


