.customer {
  background: #FFFFFF;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;

    a {
      width: 117px;
      height: 29px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 75px 0;

      img:last-of-type {
        visibility: collapse;
        position: absolute;
      }

      &:hover {

        img:first-of-type {
          visibility: collapse;
          position: absolute;
        }

        img:last-of-type {
          visibility: visible;
          position: absolute;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    nav {
      display: flex;
      flex-direction: column;

      a {
        padding: 40px 0;
      }
    }
  }
}




