.email-address {
  background: #FFFFFF;

  .email-address-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 116px 0;

    .email-address-content-desc {
      margin-right: 80px;

      .email-address-content-desc-item {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #3D4F9F;
      }

      .email-address-content-desc-about {
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.03em;
        color: #8D96BD;
        white-space: nowrap;
      }
    }

    .email-address-content-input {

      label {
        display: flex;
        flex-direction: row;
        align-items: center;

        button.btn.btn-primary {
          padding: 24px 64px;
          white-space: nowrap;
          margin: 0 0 0 20px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .email-address-content {
      display: flex;
      justify-content: space-evenly;
    }
    .email-address-content .email-address-content-desc {
      margin: 0;
      text-align: center;
    }
  }
  @include media-breakpoint-down(md) {
    .email-address-content {
      display: flex;
      flex-direction: column;
    }
    .email-address-content .email-address-content-input label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .email-address-content .email-address-content-input label button.btn.btn-primary {
      margin: 30px 0 0 0;
    }
  }
  @include media-breakpoint-down(sm) {
    .email-address-content {
      padding: 60px 10px;
    }
    .email-address-content .email-address-content-desc .email-address-content-desc-about{
      font-size: 10px;
    }
  }
}
