footer {
  background: #FFFFFF;
  border-top: 1px solid #D8E3FE;
  padding: 90px 0;

  .img-footer {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
  }

  .menu {
    a {
      font-size: 12px;
      padding: 0 20px;
      color: #697CA6;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-shadow: 0 0 5px #E6E6E6;
      text-decoration: none;
    }
  }

  .icon-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: 6px;
    margin-right: 44px;

    a {
      width: 18px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img:last-of-type {
        visibility: collapse;
        position: absolute;
      }

      &:hover {

        img:first-of-type {
          visibility: collapse;
          position: absolute;
        }

        img:last-of-type {
          visibility: visible;
          position: absolute;
        }
      }

    }
  }

  .copyright {
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #AEB8D0;
    padding: 28px 0 0 20px;
    margin: 0;
  }


  @include media-breakpoint-down(lg) {
    padding: 20px;
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  @include media-breakpoint-down(md) {
    .icon-footer {
      margin-right: 0;
      margin-top: 30px;
    }
    .copyright {
      text-align: center;
      padding: 20px 0 0 0;
    }
  }

  @include media-breakpoint-down(sm) {
    .img-footer {
      display: none;
    }
    .menu a {
      padding: 10px;
    }
    .icon-footer {
      margin-right: 0;
      margin-top: 0;
    }
    button.btn.btn-started {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .menu {
      display: none;
    }
  }

}



