header{
  background: #FFFFFF;
  border-bottom: 1px solid #D8E3FE;
  padding: 20px 0;

  .header-logo {
    img {
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      font-size: 12px;
      font-weight: 700;
      padding: 0 20px;
      color: #697CA6;
      font-style: normal;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-shadow: 0 0 5px #E6E6E6;
      text-decoration: none;

      &:hover {
        color: #5E81FE;
        text-shadow: 0 0 5px #E6E6E6;
        text-decoration: none;

      }
    }
  }

  .header-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;

    a {
      width: 18px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img:last-of-type {
        visibility: collapse;
        position: absolute;
      }

      &:hover {

        img:first-of-type {
          visibility: collapse;
          position: absolute;
        }

        img:last-of-type {
          visibility: visible;
          position: absolute;
        }
      }

    }
  }

  button.btn.btn-started {
    white-space: nowrap;
  }

  @include media-breakpoint-down(sm) {
    .menu a {
      padding: 10px;
    }

    button.btn.btn-started {
      display: none;
    }
  }
  @include media-breakpoint-down(xs) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;

    .menu {
      display: none;
    }
  }
}



