.read-about {
  background-color: #FFFFFF;

  .read-about-title {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    color: #3D4F9F;
    text-align: center;
    margin: 171px 0 0 0;
  }

  .read-about-title-item {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
    margin-top: 20px;
    margin-bottom: 92px;
  }

  .read-about-card {
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .read-about-card-item {
      font-size: 14px;
      font-weight: 700;
      line-height: 25px;
      color: #4074F8;
      margin-bottom: 25px;
    }

    .read-about-card-desc {
      font-size: 11px;
      font-weight: 600;
      line-height: 19px;
      color: #ADB3CB;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .read-about-card-img {
      width: 69px;
      height: 69px;
      margin-bottom: 33px;
    }
  }

  .center-button {
    margin-top: 100px;
    padding-bottom: 171px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 0;
      margin: 20px 15px;
      line-height: 19px;
      color: #ADB3CB;
    }

    .line {
      margin: 0 15px;

      img {
        height: 1px;
        width: 15px;
      }
    }
  }


  @include media-breakpoint-down(lg) {
    padding: 0 100px 92px;
  }
  @include media-breakpoint-down(md) {

    .read-about-card {
      margin-bottom: 40px;
    }
    .center-button {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      margin-top: 50px;

      p {
        margin: 0;
      }

      .line {
        margin: 15px 0;
      }
    }

  }
  @include media-breakpoint-down(sm) {
    padding: 0 50px 50px;

    .read-about-title {
      margin-top: 100px;
    }
  }
}
