.reviews {
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

  .reviews-content {
    padding: 160px 0;
    text-align: center;

    .reviews-content-title {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.1em;
      color: #3D4F9F;
      margin: 0;
    }

    .reviews-content-item {
      font-size: 36px;
      line-height: 45px;
      color: #3E52A8;
      margin: 30px 0 14px 0;
    }

    .reviews-content-desc {
      font-size: 12px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0.03em;
      color: #A4ABC8;
    }
  }

  .carousel-list-background {
    overflow: hidden;
    height: 100%;
    width: 100%;

    .carousel-list-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 100px 0 0 0;
      box-sizing: border-box;
      white-space: nowrap;
      transition: 1s all;
      position: relative;;
      width: 100%;

      .carousel-list {
        background: #FFFFFF;
        border: 1px solid #D8E3FE;
        box-sizing: border-box;
        box-shadow: 0 5px 50px #F3F5FA;
        position: relative;
        padding: 41px 60px 35px 60px;
        min-width: 80%;
        margin: 0 10%;

        .carousel-list-desc {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.03em;
          color: #676F95;
        }

        .carousel-list-img {
          position: absolute;
          bottom: -30px;
          left: calc(100% - 50% - 31px);

          img {
            height: 63px;
            width: 62px;
          }
        }
      }
    }

    .actions {

      button.btn.left {
        display: none;
      }

      button.btn.right {
        display: none;
      }

    }

    .little-squares {
      position: absolute;
      text-align: center;
      bottom: 25%;
      left: calc(100% - 50% - 120px);
      display: flex;
      justify-content: center;


      .little-square {
        width: 8px;
        height: 8px;
        margin: 0 8px;
        cursor: pointer;
        background-color: #D1D6E3;
        border-radius: 50%;

        &.active {
          background: #5283FF;
        }
      }
    }
  }



  @include media-breakpoint-down(lg) {
    .carousel-list-background .carousel-list-wrapper .carousel-list {
      min-width: 80%;
      margin: 0 10%;
    }
  }
  @include media-breakpoint-down(md) {
    .reviews-content {
      padding: 20px;
    }
    .carousel-list-background .little-squares {
      bottom: 10%;
    }
    .carousel-list-background {
      padding: 0 0 100px 0;
    }
    .carousel-list-background .carousel-list-wrapper {
      margin: 20px 0;
      display: flex;
      align-items: center;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list {
      min-width: 80%;
      margin: 0 10%;
      display: flex;
      justify-content: center;
    }
  }
  @include media-breakpoint-down(sm) {
    .reviews-content .reviews-content-desc {
      font-size: 10px;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list {
      min-width: 90%;
      margin: 0 5%;
    }
    .carousel-list-background .carousel-list-wrapper .carousel-list .carousel-list-desc{
      font-size: 10px;
    }
  }
}

