.statistics {

  .statistics-area {
    overflow: hidden;
    position: relative;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);

    .percent-customer {
      padding: 66px 90px 66px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .percent-customer-img {
        margin-bottom: 24px;
        height: 68px;
        width: 67px;
      }

      .percent-customer-amount {
        font-size: 48px;
        font-weight: 400;
        line-height: 83px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin: 0;
      }

      .percent-customer-desc {
        font-size: 18px;
        color: #FFFFFF;
        line-height: 23px;
        text-align: right;
        letter-spacing: 0.03em;
        margin: 0;
      }
    }

    .users-amount {
      background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
      padding: 68px 0 66px 90px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 50vw;
      object-fit: cover;

      .users-amount-img {
        margin-bottom: 24px;
        height: 66px;
        width: 75px;
      }

      .users-amount-header {
        font-size: 48px;
        font-weight: 400;
        line-height: 83px;
        letter-spacing: 0.03em;
        color: #5E80FF;
        margin: 0;
      }

      .users-amount-desc {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #5E80FF;
        margin: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .statistics-area {

      .percent-customer {
        padding: 60px 60px 60px 0;
      }

      .users-amount {
        padding: 60px 0 60px 60px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .statistics-area {
      .users-amount {
        position: static;
        left: 0;
        width: 100vw;
        top: auto;
      }
    }
  }
}
