.video-part {
  width: 100%;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  position: relative;
  height: 100%;

  .video-part-content {
    padding: 150px 0;

    .video-part-content-title {
      font-size: 10px;
      font-style: normal;
      line-height: 12px;
      letter-spacing: 0.1em;
      color: #3D4F9F;
      z-index: 21;
    }

    .video-part-content-item {
      font-size: 48px;
      font-weight: 300;
      font-style: normal;
      line-height: 60px;
      text-align: center;
      color: #3D4F9F;
      margin-bottom: 28px;
      z-index: 23;
    }

    .video-part-content-desc {
      font-size: 15px;
      font-weight: 400;
      color: #8D96BD;
      line-height: 29px;
      letter-spacing: 0.03em;
    }

    .center-button {
      display: flex;
      justify-content: center;
      margin: 20px 0;
      z-index: 25;
    }
  }

  .video-part-gradient-box {

    .gradient3 {
      position: absolute;
      right: 150px;
      bottom: 0;
      animation-name: gradient3;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes gradient3 {
      from {
        right: 150px;
        bottom: 0;
      }

      to {
        right: 30%;
        bottom: 0;
      }
    }

    .gradient4 {
      position: absolute;
      right: 95px;
      top: 0;
      animation-name: gradient4;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes gradient4 {
      from {
        right: 95px;
        top: 0;
      }

      to {
        right: 30%;
        top: 0;
      }
    }

    .gradient5 {
      position: absolute;
      left: 230px;
      top: 50px;
      animation-name: gradient5;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes gradient5 {
      from {
        left: 230px;;
        top: 50px;
      }

      to {
        left: 30%;
        top: 50px;
      }
    }

    .gradient6 {
      position: absolute;
      left: 0;
      top: 140px;
    }

    .gradient7 {
      position: absolute;
      left: 215px;
      bottom: 100px;
      animation-name: gradient7;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes gradient7 {
      from {
        left: 215px;
        bottom: 100px;
      }

      to {
        left: 30%;
        bottom: 100px;
      }
    }

    .gradient8 {
      position: absolute;
      right: 0;
      bottom: 60px;
    }
  }

  .video-part-main-gradient {
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
  }

  .video-part-ellipse-paginator {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 28px;
    left: calc(50% - 30px);
    z-index: 26;


    div {
      width: 8px;
      height: 8px;
      background-color: #D1D6E3;
      border-radius: 50%;
      margin: 0 6px;

      &:hover {
        background-color: #5283FF;
        cursor: pointer;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .video-part-content .video-part-content-item {
      font-size: 35px;
    }
    .video-part-gradient-box {
      .gradient5 {
        display: none;
      }

      .gradient7 {
        display: none;
      }
    }
  }
}
