.accordion-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 174px;
  background-color: #FFFFFF;
  align-items: center;

  .accordion-list-item {

    .accordion-list-item-title {
      display: flex;
      padding: 20px 40px;
      border-bottom: 1px solid #D8E3FE;
      outline: none;
      cursor: pointer;
      text-align: left;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #8E96B7;
      align-items: center;


      @include media-breakpoint-down(sm) {
        font-size: 13px;
      }

      img.arrow {
        margin-right: 20px;
        transition: .3s ease transform;
      }

      img {
        height: 11px;
        width: 18px;
      }
    }

    .accordion-list-item-content {
      overflow: hidden;
      max-height: 0;
      transition: .3s ease max-height;

      .accordion-list-item-content-wr {
        padding: 16px 15px 40px 80px;

        .panel-btn {

          p {
            line-height: 27px;
            letter-spacing: 0.03em;
            color: #8D96BD;
            margin: 0;

            @include media-breakpoint-down(lg) {
              font-size: 10px;
            }
            @include media-breakpoint-down(sm) {
              margin-bottom: 10px;
              font-size: 10px;
            }
          }

          .container-btn-accordion {

            button.btn.btn-started {
              background-color: #E8ECF4;
              line-height: 16px;
              color: #7382A3;
              padding: 13px 32px;

              @include media-breakpoint-down(sm) {
                padding: 13px 10px;
              }
            }

            @include media-breakpoint-up(md) {
              display: flex;
              justify-content: center;
              margin-left: 30px;
            }
          }

        }

        @include media-breakpoint-down(lg) {
          padding: 15px;
          text-align: center;
          display: flex;
          justify-content: space-between;
        }
        @include media-breakpoint-down(md) {
          padding: 15px;
          text-align: center;
          display: flex;
          justify-content: center;
        }
        @include media-breakpoint-down(sm) {
          padding: 15px;
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }

    &.opened {
      .accordion-list-item-title {
        img.arrow {
          transform: rotate(180deg);
        }
      }

      .accordion-list-item-content {
        max-height: 600px;
      }
    }
  }


  @include media-breakpoint-down(md){
    padding: 0 0 100px;
  }
}
