@import "bootstrap";

@import "header";
@import "texts";
@import "buttons";
@import "video-part";
@import "customer";
@import "plan-and-manage";
@import "read-about";
@import "statistics";
@import "carousel-list";
@import "rewievs";
@import "customer-questions";
@import "accordion";
@import "get-started";
@import "email-address";
@import "footer";
@import "burger";


body {
  margin: 0;
  padding: 0;
  background-color: #E4E6F0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 13px;
}




